.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.todays-scores {
  padding-top: 15%;
  padding-bottom: 1%;
}

.date {
}

.scoreboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*border: 1px solid green;*/
  max-width: 100vw;
  padding-top: 2%;
}
