.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 2%;
  margin: 5px;
  box-shadow: 5px 5px grey;
  width: 5em;
}

.main-container {
  display: flex;
  /*border: 1px solid blue;*/
  justify-content: center;
  align-items: center;
  padding: 10%;
  width: 100%;
}

.game:hover {
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
}

.headers {
  display: flex;
}

.teams, .runs, .hits, .errors {
  display: flex;
  flex-direction: column;
  margin: 5%;
  /*border: 1px solid goldenrod;*/
  height: 100%;
}

.runs {
  color: red;
  font-weight: bold;
}

.spacing-div {
  height: 1em;
}

.headers div {
  border: 1px solid peru;
  margin: 2%;
}

.away-team {
  display: flex;
}


.home-team {
  display: flex;
}

.status {
  font-size: 15px;
  align-self: center;
}
